// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #fff;
$black: #111;

$primary-color: rgb(171, 0, 171);
$primary-color-darker: rgb(122, 1, 122);

$terciary-color: rgb(252, 190, 252);
