.btn-form {
    background-color: $white;
    transition: 4s;
    
    &:hover {
        background-color: $terciary-color;
        transition: 3s;
    }
}

.btn-admin {
    background-color: transparent;
    border: none;
    text-align: right;

    i {
        font-size: 17px;
        color: $primary-color;
    }
}

.btn-guest {
    background-color: $primary-color;
    color: $white;
    transition: 2s;
    border-radius: 0;
    
    &:hover {
        border-radius: 3px;
        background-color: $primary-color-darker;
        transition: 2s;
        color: $white;
    }
}
