.notes-bg {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgb(238, 255, 0), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    min-height: 100vh;
}

.bg-white {
    background-color: $white;
    padding: 10px 0;
    border-radius: 3px;
}

.notes-where {
    padding: 10vh 0;
}